<div class="min-h-screen bg-white pt-6 p-4 sm:px-6 lg:px-8">
    <p>{{testState.currentStep}}</p>
    <p>{{step}}</p>
    <app-progress-bar   
    [step]="step"
    [totalSteps]="8"
    [completedSteps]="completedStepsArray"
    (stepClicked)="onStepSelected($event)"
    [maxAllowedStep]="(testState?.currentStep ?? step) + 1"
    ></app-progress-bar>
  <div class="w-2/3 max-w-4xl mx-auto">
    <h1 class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold text-gray-800 mb-4 font-header">Enter answers</h1>
    <hr class="mb-6 border-gray-300" />

@for (block of blocks; track block.id) {
  <div class="mb-8">
    <h2 class="text-base sm:text-lg md:text-xl lg:text-2xl font-semibold text-sky-700 mb-3 font-header">
      {{ block.name | sentencecase }} block
    </h2>

    @for (question of getQuestionsByBlock(block.id!); track question.id ?? $index; let qIndex = $index) {
      <div class="border bg-sky-50 border-gray-200 rounded-xl shadow-sm p-4 mb-4" #answerForm>
        <p class="text-gray-800 text-base sm:text-lg font-semibold mb-3">
          {{ question.text }}
        </p>
        <hr class="mb-6 border-gray-300" />

        @for (group of getAnswersFormsForQuestion(block.id!, question.id!).controls; track $index; let i = $index) {
          <div [formGroup]="group" >
            <input
              type="text"
              formControlName="text"
              placeholder="Answer {{ i + 1 }}"
              class="w-full mb-2 px-4 py-2 bg-white border border-gray-300 rounded shadow-sm text-gray-800 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
            />
          </div>
        }

        @if (getAnswersFormsForQuestion(block.id!, question.id!).invalid &&
             getAnswersFormsForQuestion(block.id!, question.id!).touched) {
          <p class="text-red-500 text-sm mt-1">All answers must be filled</p>
        }

        @if (qIndex === 0) {
          <button
            class="mt-3 inline-block bg-sky-700 hover:bg-sky-800 text-white text-sm sm:text-base font-medium px-5 py-2 rounded transition font-interactive"
            (click)="applyToAllAnswers(block.id!)"
          >
            Apply to all questions of the block
          </button>
        }
      </div>
    }
  </div>
}

    <div class="flex flex-col sm:flex-row justify-between gap-4 mt-8">
      <button
        class="w-full sm:w-auto bg-sky-700 hover:bg-sky-800 text-white text-sm sm:text-base md:text-lg font-medium px-6 py-2 rounded transition disabled:bg-gray-400 disabled:cursor-not-allowed"
        (click)="saveTest()"
      >
        Save
      </button>

      <button
        class="w-full sm:w-auto bg-sky-700 hover:bg-sky-800 text-white text-sm sm:text-base md:text-lg font-medium px-6 py-2 rounded transition disabled:bg-gray-400 disabled:cursor-not-allowed"
        (click)="saveTest(true)"
      >
        Next →
      </button>
    </div>
  </div>
</div>
