@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@600&family=Manrope:wght@500;600;700&display=swap');

@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  .font-logo {
    font-family: 'Montserrat', sans-serif;
  }

  .font-interactive {
    font-family: 'Nunito', sans-serif;
  }

  .font-header {
    font-family: 'Manrope', sans-serif;
  }
}

